<div class="col-md-12 overflow">

        <section class="col-md-10 d-inline-block float-left">
            <h3 class="pt-2">Cykler</h3>
    
            <hr>
            <% udstyrInfo.forEach(infos => { %>
                <section class="col-md-8 float-left padding-t1 pt-4">
                    <h6>
                        <%= infos.udstyr_navn %>
                    </h6>
                    <p>
                        <%= infos.udstyr_beskrivelse %>
                    </p>
                    <p class="pt-5 mb-0">Pris:
                        <%= infos.udstyr_pris %> Kr.</p>
                    </section>
                    <img src="/img/Udstyr/<%= infos.udstyr_billede %>" alt="Udstyr Billede" class="col-md-4 float-left">
                <% }) %>
    
    
    
    
        </section>
    
        <h3 class="pl-3 pt-2">Tilbud</h3>
        <hr>
        <% produkter.forEach(produkt => { %>
            <aside class="col-md-2 float-left border mb-1">
                <p class="m-0">
                    <%= produkt.tilbud_navn %>
                </p>
                <img src="/img/Cykler/<%= produkt.tilbud_billede %>" alt="Cykel Billede" class="w-50">
                <!-- <p class="m-0">Før: </p> -->
                <p class="mt-2">Nu kun
                    <%= produkt.tilbud_pris %> Kr.</p>
            </aside>
            <% }) %>
    
    
                &nbsp;
    </div>