<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <title>City Cykler</title>
</head>

<body>
    <div class="col-md-8 offset-md-2">
        <div class="row">
            <div class="divRound">

                <header class="nav-scroller col-md-12 p-0">
                    <% include ../partials/header.ejs %>
                </header>

                <main>
                    <div class="col-md-12 m-0 p-0">
                        <section class="col-md-10 pr-0 d-inline-block">
                            <!-- <div class="float-left"> -->

                            <h3 class="pl-3 pt-3">Cykler</h3>

                            <hr class="mb-3 mt-3">
                            <% enKategori.forEach(enKat => { %>
                                <div class="d-inline-block ml-1 mt-2 border p-2 mr-3">
                                    <div class="col-md-5 p-0 ">
                                        <h6>
                                            <%= enKat.cykel_navn%>
                                        </h6>

                                        <p class="mb-1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                                            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                                            veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                                            ex ea commodo consequat.
                                        </p>

                                        <p class="hideMe">
                                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla
                                            facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent
                                            luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber
                                            tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod
                                            mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus
                                            legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores
                                            legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus,
                                            qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera
                                            gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis
                                            per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur
                                            parum clari, fiant sollemnes in futurum.
                                        </p>

                                        <p class="m-0 padding-t2 d-inline-block float-left">Pris:
                                            <%= enKat.cykel_pris %>
                                        </p>

                                        <p class="float-left m-0 padding-t2 padding-l2">
                                            <span>
                                                <a href="/visEnCykel/<%= enKat.cykel_id %>">MERE INFO</a>
                                            </span>
                                        </p>

                                    </div>

                                    <!-- <div class="float-left d-inline"> -->
                                    <img src="/img/Cykler/<%= enKat.cykel_billede %>" alt="Cykel Billede" class="w-25" align="right">
                                    <!-- </div> -->

                                </div>
                                <% }) %>

                                    <!-- </div> -->



                        </section>


                        <div class="vl ml-2"></div>

                        <div class="col-md-2 p-1 pl-3 pr-3">
                            <h3 class="pl-3 pt-3">Tilbud</h3>
                            <hr class="m-2">
                            <% produkter.forEach(produkt => { %>
                                <div class="border mb-2 mt-1 alignCenter">
                                    <p>
                                        <%= produkt.tilbud_navn %>
                                    </p>
                                    <img src="/img/Cykler/<%= produkt.tilbud_billede %>" alt="Cykel Billede" class="w-50">

                                    <p class="mb-1">Nu kun
                                        <%= produkt.tilbud_pris %> Kr.</p>
                                </div>
                                <% }) %>
                        </div>
                        <div class="col-md-12 d-inline">
                            <p class="mb-0">Page: </p>
                            <a href="/alleKategori/<%= enKategori[0].fk_kategori %>/0">1</a>
                            <a href="/alleKategori/<%= enKategori[0].fk_kategori %>/3">2</a>
                            <!-- <a href="/alleKategori/<%= enKategori[0].fk_kategori %>/6">3</a> -->
                        </div>


                    </div>

                </main>





                <footer class="blog-footer clearfix">
                    <% include ../partials/footer.ejs %>
                </footer>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                    crossorigin="anonymous">
                    </script>
                <!-- <script src="js/product.js"></script> -->
            </div>
        </div>
    </div>

</body>

</html>